.fas {
    font-size: 150px;
    color:bisque
}

.short-url {
    color:blue
}

/* test */
/* .container {
    outline:1px solid red;
}

.form-group{
    outline:1px solid darkmagenta
}

.input-group {
    outline:1px solid black; 
} */